# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Asset meta cache
[Aa]ssets/**/EditorUserBuildSettings.asset

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Addressables
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Packages lock backup
Packages/packages-lock.json.backup

